/* Footer */
.footer {
    background: var(--must-green);
    color: white;
    padding: 3rem 0 1rem;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
  }
  
  .footer-logo  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .logo-img img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
  }
  
  .footer-text {
    color: white;
    margin-bottom: 2rem;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  .footer-link {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600;
  }
  
  .footer-link:hover {
    color: var(--must-gold);
  }
  
  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 1rem;
    color: var(--white);
    font-size: 0.9rem;
  }